

{% extends "frontBase.html" %}

{% block body %}
	<form id="productForm" method="POST">
	<div class="container" style="margin-top: 60px; margin-left: 100px;">
		<div class="col-xs-12 col-md-6">
		 				{% for product in products %}
		                <!-- First product box start here-->
		                <div class="prod-info-main prod-wrap clearfix">
		 
		                      <div class="row">
		 
		                           <div class="col-md-5 col-sm-12 col-xs-12">
		 
		                            <div class="product-image">
		 
		                             <img src="\cybercom\Ecommerce_website\Resources/{{ product.image }}" style="height: 250px; width: 250px;" class="img-responsive">
		 <!-- 
		                               <span class="tag2 hot">
		 
		                                <h5 class="text-bold">{{product.product_name}}</h5>
		 
		                               </span> -->
		 
		                       </div>
		 
		                  </div>
		 
		     <div class="col-md-7 col-sm-12 col-xs-12">
		 
		                  <div class="product-deatil">
		 
		                               <h5 class="name">
		 
		                               <a href="#">{{product.product_name}}</a>
		 
		                               <a href="#">
		 
		                               <span>{{product.category_name}}</span>
		 
		                               </a>                           
		 
		                        </h5>
		 
		                            <p class="price-container">
		 
		                             <span>{{product.price}}</span>
		 
		                           </p>
		 
		              <span class="tag1"></span>
		 
		   </div>
		 
		   <div class="description">
		 
		      <p>{{product.description}} </p>
		 
		   </div>
		   <div class="description">
		 		
		 		{% if product.status == 1 %}
					<p> Available</p>
				{%	else %}
					<p> Not-Available</p>
				{% endif %}
		     
		 
		   </div>
		 
		      <div class="product-info smart-form">
		 
		         <div class="row">
		 
		        <div class="col-md-12">
		 
		         	
		 			<button type="button" class="btn btn-danger" onclick="addToCart();">add to cart</button>
		 			<input type="hidden" id="hiddenProductId" value="{{ product.product_id }}">
		  		
		  			<input type="hidden" id="hiddenProductPrice" value="{{ product.price }}">
		  			<input type="hidden" id="hiddenCategoryId" value="{{ product.category_id }}">
		  		
		          	<a href="javascript:void(0);" class="btn btn-info">More info</a>
		 
		       	</div>
		 
		      <!-- <div class="col-md-12">
		 
		         <div class="rating">Rating:
		 
		          <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
		 
		          <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
		 
		          <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
		 
		          <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
		 
		          <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
		 
		         </div>
		 
		       </div>
		 
		    </div>
		  -->

		 
		  			
		 
		   </div>
		 
		  </div>
		 
		  </div>
		 </div>
		 
		 <!-- end product -->
		 
		</div>
		{% endfor %}
		</div>
 
</div>
</form>
<script type="text/javascript">
	// console.log($('.data'));
	/*$("button").click(function(){
	});*/
	
	
	

	function addToCart() {
		alert('add to cart called');

		var form_id = document.getElementById('productForm');
		var user_id = {{ userid }};
		var product_id = form_id.hiddenProductId.value;
		var product_price = form_id.hiddenProductPrice.value;

		alert(user_id);

		var cartData = {product_id : product_id, user_id: user_id,
				 product_price : product_price};

		var frmParams = cartData;
		$.ajax({
			url: "http://localhost/cybercom/php/ajax.php",
			dataType : 'json',
			method: 'POST',
			data: frmParams,
			success: function(result){
				
			}
			
		});
	}

</script>

{% endblock %}