<!DOCTYPE html>
<html>
<head>
	<!-- <title></title> -->
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous">
	  	
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		
	</script>



	
</head>
<body>


		
	<nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #778899" >

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      		{% for arrPar in arrParent %}
		      	<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{arrPar.category_name}}</a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

			        	{% for arrchild in arrPar.child %}
			        		<a class="dropdown-item" href="{{ base_url }}/public/mvc/category/view/{{arrchild.url_key}}">{{arrchild.category_name}}</a>
			          	{% endfor %}
			        </div>
		     	</li>

		    	{% endfor %} 	

	    	</ul>


		    <form class="form-inline my-2 my-lg-0">
		    	<p> {{username}}</p>
		    	<a href="{{ base_url }}/public/mvc/home/login" style="color: black; margin-right:10px;">LOGIN NOW</a>
			    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #FF8C00">Search</button>
		    </form>
		    <div>
		    	<a href="" style="color: black;"><i class="fa fa-shopping-cart" style="font-size:36px"></i></a>
		    </div>
	  	</div>
	</nav>

	
	{% block nav %}
	{% endblock %}
	{% block body %}

	{% endblock %}


	

	
	<div class="footer" style=" position: fixed;
							  left: 0;
							  bottom: 0;
							  width: 100%;
							  background-color: #778899;
							  color: white;
							  float: left;
							  margin:auto;
							  text-align: center;">
		{% for page in cmsPages %}
		<div style="width: 50px; float: left;padding-left:400px;
							  margin:auto; height: 50px;">
	   		
	   			<a href="{{ base_url }}/public/mvc/home/cms/{{page.url_key}}" style="color: black;">{{page.cms_page_title}}</a>

	   		
	   	</div>
	   	{% endfor %}
	</div>
	
	
</body>
</html>