{% extends "base.html" %}
{% block body %}

    <h2>Login Page</h2>
<form action="" method="post">
  

  <div >
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="email" required><br><br>

      <label ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required><br><br>

      <button type="submit" name="loginButton" value="Login">Login</button>
     
  </div>

  <div class="container" style="background-color:#f1f1f1">
      <a href="register">register here..</a></span>
  </div>


</form>
{% endblock %}