{% extends "base.html" %}
{% block title %} Dashboard{% endblock %}

{% block body %}
	<h2>Dashboard</h2>

	<!-- <form>
		<input type="submit" name="manageCMS" value="Manage CMS Pages">
		<input type="submit" name="manageCategory" value="Manage Category">
		<input type="submit" name="manageProducts" value="Manage Products">
	</form> -->

	<a href="cms/Pages/index">Manage CMS Pages</a>
	<a href="category/showCategory">Manage Category</a>
	<a href="product/showProduct">Manage Products</a><br>
{% endblock %}