{% extends "frontBase.html" %}

{% block body %}
		
	<div class="container">
		<div class="col-xs-12 col-md-6">
		 
		                <!-- First product box start here-->
		     
		    <div class="prod-info-main prod-wrap clearfix">
		 		{% for product in products %}
		        <div class="row">
		 
		            <div class="col-md-5 col-sm-12 col-xs-12">
		 
		                <div class="product-image">

		 					<a href="{{ base_url }}/public/mvc/product/view/{{product.url_key}}">
		 						<img src="\cybercom\Ecommerce_website\Resources/{{ product.image }}" style="height:250px; width:250px;" class="img-responsive">
		 					</a>
				 		</div>
		 
		            </div>
		 
		     		<div class="col-md-7 col-sm-12 col-xs-12">
		 				<div class="product-deatil">
		 				    <h5 class="name">
		 						<a href="#">{{product.product_name}}</a>
		 						<a href="#"><span>{{product.category_name}}</span></a>
		                    </h5>
		 					<p class="price-container">
	
		                    	<span>{{product.price}}</span>
		 
		                    </p>
		 					<span class="tag1"></span>
		 
		   				</div>
		 
				    	<div class="description">
				 
				    			<p>{{product.short_description}}</p>
				 
						</div>
		 
			      		<div class="product-info smart-form">
			 
				        	<div class="row">
				 
				         		<div class="col-md-12">
				 
					          		<a href="#" class="btn btn-danger">Add to cart</a>
					 
					             	<a href="javascript:void(0);" class="btn btn-info">More info</a>
					 
				       			</div>
			 
			     <!--  <div class="col-md-12">
			 
			         <div class="rating">Rating:
			 
			          <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
			 
			          <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
			 
			          <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
			 
			          <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
			 
			          <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
			 
			        </div> -->
			 
			       			</div>
			 
		    			</div>
		 
		   			</div>
		 		 </div>
		 
			</div>
		</div>
		 
		 <!-- end product -->
		 	{% endfor %}
			</div>
			
		</div>
 
	</div>


{% endblock %}