{% extends "base.html" %}
{% block title %} Add Catgory{% endblock %}
{% block body %}
	<h2>Update Category</h2>

	<form action="" method="Post" enctype="multipart/form-data">
		
		<!-- <table>
			<tr>
				<td></td>
			</tr>
		</table> -->
		{% for data in showData %}
		<table border="2">
			<tr>
				<td>Category name : </td>
				<td><input type="text" value="{{ data.category_name }}" name="category_name"></td>
			</tr>
			<tr>
				<td>Url Key : </td>
				<td><input type="text" value="{{ data.url_key}}" name="url_key"></td>
			</tr>
			<tr>
				<td>Image : </td>
				<td><input type="file" value=" {{ data.image }}" name="file"></td>
			</tr>
			<tr>
				<td>Status : </td>
				<td>
					<select name="status">
						<option value="1">Available</option>
						<option value="0">Unvailable</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Description: : </td>
				<td><input type="text" value="{{ data.description }}" name="description"></td>
			</tr>
			<tr>
				<td>Parent Category : </td>
				<td>
					<select name="parent_category" multiple="">
						<option placeholder="select Catgory" disabled="">Select category</option>
		 				{% for cat in categoryData %}
						<option value="{{ cat.category_id }}">{{ cat.category_name }}</option>
						{% endfor %}
					</select>

				</td>
			</tr>
			
			<tr>
				<td><input type="Submit" name="updateCategory" value="Update"></td>
			</tr>
		</table>
		{% endfor %}
	</form>
	
{% endblock %}
